.heroImageContainer {
  display: flex;
  justify-content: center;
  background-color: var(--color-black);
}

.main {
  position: relative;
  width:  calc(100vw - 20px);
  height: calc(100vh - 120px);
  background-color: var(--background);
  margin: 0 auto;
  margin-top: -60px;
  outline: 1px solid var(--outline-color);
  outline-offset: -1px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 5px 10px;
}

@media screen and (width > 768px) {
  .main {
    width: calc(min(1280px, 100vw - 80px));
    height: calc(100vh - 260px);
  }
}

.rankSection {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr 1fr;
  grid-template-areas:
    "rankHeader"
    "rankFilters"
    "rankTable";
  padding: 20px;
  height: 100%;
}

@media screen and (width > 768px) {
  .rankSection {
    grid-template-columns: 280px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
      "rankHeader rankHeader"
      "rankFilters rankTable";
    padding-top: 0;
  }
}

.rankHeader {
  grid-area: rankHeader;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (width > 768px) {
  .rankHeader {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.rankFilters {
  grid-area: rankFilters;
}

.rankTable {
  grid-area: rankTable;
  overflow: auto;
}

.rankTable > div {
  max-height: 100%;
}