.tableRow {
    border: 0;
}

.tableHeader {
    position: sticky;
    top: 0;
    background-color: var(--background);
    border-bottom: 2px solid var(--color-secondary);
}

.tableHeader th {
    width: calc(85% / 4);
}

.tableHeader th:first-child {
    width: 15%;
}

@media screen and (width < 1024px) {
    .tableHeader th:not(:first-child) {
        width: calc(85% / 3);
    }
}

.tableHeader tr {
    border: 0;
}

.tableRow td {
    padding-top: 2.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-semibold);
}

@media screen and (width < 1024px) {
    .tableHeader th:last-child {
        display: none;
    }
    .tableRow td:last-child {
        display: none;
    }
}

.flagImageContainer {
    width: 80px;
    height: 50px;
}

.flagImage {
    border-radius: 6px;
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
}

.tableEmpty {
    text-align: center;
}